html {
    background: #121621;
}

body {
    color: #6C7486;
}

::selection {
    background: #222;
    color: #99A3BA;
}

h1 {
    color: #E4ECFA;
}

.quote {
    color: #6C7486;
}

.quote-icon {
    color: #3F4656;
}

.quote-line {
    background: #242836;
}

a {
    color: #99A3BA;
}

.links a {
    border-bottom-color: #6C7486;
}

.links a:hover {
    color: #E4ECFA;
    border-bottom-color: #99A3BA;
}

.location {
    color: #6C7486;
}